### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

In [4]:
x = 10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [6]:
is_valid = True

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

In [5]:
name = "Python Programming"

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

In [7]:
sum_result = 5 + 3

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [10]:
a, b, c = 5, 10, 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

In [11]:
y = x

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

In [12]:
gravity = 9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [13]:
country = "Benin"


### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [14]:
age = 25
age = 26


### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [15]:
subtration = 20 - 7


### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [16]:
integer  = 12
floating = 10.5


### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [17]:
is_completed = False


### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [23]:
x = 20 ;y = 30
z = y
y =  x
x = z

x,y

(30, 20)


### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [25]:
my_var = 50

my_var = str(my_var)
type(my_var)

str


### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

In [26]:
first_name = "Eric"
last_name = "AKOTO"


### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

In [27]:
temperature = 35.5

In [ ]:

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [29]:
product = 8*6
product

48

In [ ]:

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [31]:
sentence = "Never give up"
sentence

'Never give up'

In [ ]:

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [32]:
my_str = "50"
int_value = int(my_str)
type(int_value)

int

In [ ]:

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [33]:
quotient = 144/12
quotient

12.0

In [ ]:

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [35]:
remainder = 47 % 5
remainder

2

In [ ]:

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [36]:
is_student = True
is_student

True

In [ ]:

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

In [37]:
mod = 45 % 4
mod

1

In [ ]:
### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

In [38]:
pi = 3.14159
pi

3.14159

In [ ]:

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

--

In [39]:
length = 4
width = 2

area = length * width
area

8

In [ ]:

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

In [40]:
negative_value = -50
negative_value

-50

In [ ]:

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

In [48]:
greeting = '"Hello ,  world!"'
print(greeting)

"Hello ,  world!"

In [ ]:

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [50]:
population = 199000000
population

199000000

In [ ]:
### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [51]:
fruits = ["ananas","banana","orange"]
fruits

['ananas', 'banana', 'orange']

In [ ]:

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

In [54]:
coordinates = (1,2,3)
coordinates

(1, 2, 3)

--

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

In [ ]:
person = {'name' : 'age' }

In [ ]:

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [61]:
summation = 12.5 + 40.2
summation

52.7

In [ ]:

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

In [63]:
is_sunny = 10 > 5
is_sunny

True

In [ ]:

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

In [64]:
a = "azerty"
b = 122
print(a,b)

azerty 122


### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [66]:
var = 40
var = True

In [ ]:

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

In [ ]:
is_weekend = False

In [ ]:

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

In [82]:
description ="""speak  
 eat
  slep""" 

description

'speak  \n eat\n  slep'

In [ ]:

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

In [83]:
floor_div_result = 100//6
floor_div_result

16

In [ ]:

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [84]:
mixed_sum  = 12.5 + 20
mixed_sum

32.5